<div class="helpua-footer">
    <div class="helpua-flag">
        <span class="blue-1"></span>
        <span class="blue-2"></span>
        <span class="yellow-1"></span>
        <span class="yellow-2"></span>
    </div>
    
    <div class="helpua-content-area">
        <p class="helpua-text" id="helpua-text">
            <!-- Help people in <span class="ukraine">Ukraine</span>. <span class="descriptor">Just a cup of coffee for you
                might save a life</span> -->
            We stand with Ukraine. 
            <span class="descriptor">
                You can show your support and save a life for the cost of a coffee
            </span>

        </p>
        <button class="helpua-btn"
            onclick="window.open('https://www.subbly.co/checkout/buy/141313?currency=USD')">Donate $5</button>
    </div>

    <span class="close" onclick="window.top.postMessage('helpua-close', '*')">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.85355 3.14645C3.65829 2.95118 3.34171 2.95118 3.14645 3.14645C2.95118 3.34171 2.95118 3.65829 3.14645 3.85355L8.29289 9L3.14645 14.1464C2.95118 14.3417 2.95118 14.6583 3.14645 14.8536C3.34171 15.0488 3.65829 15.0488 3.85355 14.8536L9 9.70711L14.1464 14.8536C14.3417 15.0488 14.6583 15.0488 14.8536 14.8536C15.0488 14.6583 15.0488 14.3417 14.8536 14.1464L9.70711 9L14.8536 3.85356C15.0488 3.65829 15.0488 3.34171 14.8536 3.14645C14.6583 2.95119 14.3417 2.95119 14.1464 3.14645L9 8.29289L3.85355 3.14645Z" fill="#8B93A7"/>
        </svg>
    </span>

</div>

<style>
    * {
        box-sizing: border-box;
    }

    .helpua-footer {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 48px;
        font-family: "Open Sans", Arial, Verdana, Geneva, Tahoma, sans-serif;
        overflow: hidden;
        background: #fff;
    }

    .helpua-footer.hidden { display: none; }

    .helpua-content-area {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .helpua-text {
        display: inline-block;
        margin-right: 12px;
        font-weight: 800;
        font-size: 15px;
    }

    .helpua-btn {
        display: inline-block;
        height: 28px;
        padding: 5px 16px;
        font-size: 14px;
        border: 1px solid #2E2E2E;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .helpua-btn:hover {
        font-weight: bold;
    }

    .helpua-flag .blue-1 {
        position: absolute;
        width: 252px;
        height: 252px;
        left: 143px;
        top: -115px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(48, 125, 252, 0.25) 0%, rgba(48, 125, 252, 0) 100%);
    }

    .helpua-flag .yellow-1 {
        position: absolute;
        width: 252px;
        height: 252px;
        left: 310px;
        top: -55px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 235, 51, 0.24) 0%, rgba(255, 235, 51, 0) 100%);
    }

    .helpua-flag .blue-2 {
        position: absolute;
        width: 298px;
        height: 298px;
        right: 100px;
        top: -224px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(48, 125, 252, 0.74) 0%, rgba(48, 125, 252, 0) 100%);
    }

    .helpua-flag .yellow-2 {
        position: absolute;
        width: 252px;
        height: 252px;
        right: 50px;
        top: 0;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 235, 51, 0.77) 0%, rgba(255, 235, 51, 0) 100%);
    }

    .close {
        position: absolute;
        left: 28px;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        opacity: 0.7;
        cursor: pointer;
    }

    .close:hover {
        opacity: 1;
    }

    @media screen and (max-width: 874px) {
        .helpua-footer {
            height: 92px;
            padding: 8px 16px;
        }

        .helpua-content-area {
            flex-direction: column;
            align-items: stretch;
            justify-content: space-between;
            text-align: center;
            margin-left: 18px;
        }

        .helpua-text {
            margin: 0;
            font-weight: normal;
            text-align: left;
        }

        .ukraine {
            font-weight: bold;
        }

        .action-container {
            display: flex;
            justify-content: stretch;
        }

        .close {
            position: absolute;
            left: 6px;
            top: 2px;
            transform: none;
        }
    }

    @media screen and (max-width: 350px) {
        .helpua-text {
            text-align: center;
            font-weight: bold;
            margin: 0 20px;
        }

        .descriptor {
            display: none;
        }
    }
</style>

<!-- <script>
    var texts = [
        `Help people in <span class="ukraine">Ukraine</span>.
        <span class="descriptor">Just a cup of coffee for you might save a life</span>`,
        `While Ukrainians fight for their freedom, you might save a life with just a cup of coffee.`,
        `Don’t know how to support Ukrainians?
         <span class="descriptor">Donate through verified funds and volunteers.</span>`,
        `Don’t stay aside. Support Ukrainians in an uneven battle. A cup of coffee might safe a life there.`,
        `Support Ukrainian armed force. 
         <span class="descriptor">Save the lives with just a cup of coffee</span>`,
        `Support Ukrainians struggling of nightmarish crimes by Russia.
         <span class="descriptor">Save a life with just cup a of coffee.</span>`,
        `Ukrainians are still in a nightmarish war.
         <span class="descriptor">Support lives with just a cup of coffee.</span>`,
    ];

    main();
    
    function main() {
        var index = getIndex(Date.now(), texts.length) || 0;
        if (index && index >= 0 && index < texts.length) {
            document.querySelector('#helpua-text').innerHTML = texts[index];
        }
    }

    function getIndex(date, of) {
        var period = 86400000 * 3;
        var startingPoint = 1649864205954;
        return (Math.floor((date - startingPoint) / period) % of) - 1;
    }
</script> -->