<div class="helpua-footer">
    <div class="helpua-flag">
        <span class="blue-1"></span>
        <span class="blue-2"></span>
        <span class="yellow-1"></span>
        <span class="yellow-2"></span>
    </div>
    <div class="helpua-content-area">
        <p class="helpua-text">
            Help people in Ukraine. Just a cup of coffee for you might save a life
        </p>
        <button class="helpua-btn" onclick="window.open('https://www.subbly.co/checkout/buy/141313?utm_source=helpua')">Donate $5</button>
    </div>
</div>

<style>
    .helpua-footer {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 48px;
        font-family: "Open Sans", Arial, Verdana, Geneva, Tahoma, sans-serif;
        overflow: hidden;
        background: #fff;
    }

    .helpua-content-area {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .helpua-text {
        display: inline-block;
        margin-right: 12px;
        font-weight: 800;
        font-size: 16px;
    }

    .helpua-btn {
        display: inline-block;
        height: 28px;
        padding: 5px 16px;
        font-size: 14px;
        border: 1px solid #2E2E2E;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .helpua-flag .blue-1 {
        position: absolute;
        width: 252px;
        height: 252px;
        left: 243px;
        top: -115px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(48, 125, 252, 0.25) 0%, rgba(48, 125, 252, 0) 100%);
    }

    .helpua-flag .blue-2 {
        position: absolute;
        width: 298px;
        height: 298px;
        left: 877px;
        top: -254px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(48, 125, 252, 0.74) 0%, rgba(48, 125, 252, 0) 100%);
    }

    .helpua-flag .yellow-1 {
        position: absolute;
        width: 252px;
        height: 252px;
        left: 410px;
        top: -55px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 235, 51, 0.24) 0%, rgba(255, 235, 51, 0) 100%);
    }

    .helpua-flag .yellow-2 {
        position: absolute;
        width: 252px;
        height: 252px;
        left: 978px;
        top: 5px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 235, 51, 0.77) 0%, rgba(255, 235, 51, 0) 100%);
    }
</style>